/* ---- reset ---- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.title {
  position: absolute;
  width: 300px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(30% - 150px);
  z-index: 100;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  pointer-events: none;
  user-select: none;
}
